body {
	margin: 20px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background-color: #e8f2ef;
	overflow: scroll;
}

form {
	margin: 0px;
}

.container {
	width: 410px;
	display: block;
	padding: 10px;
	margin: 20px;
	background-color: #f9f9f9;
	border: 2px solid #d8d8d8;
	box-sizing: border-box;
	border-radius: .5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-appearance: none;
	overflow: hidden;
}
#cont-1 {

}
#cont-2 {
	position: relative;
}
#cont-3 {
	margin: 0px;
	filter: grayscale(100%);
	pointer-events: none;
	transition: all .5s ease;
	height: 124px;
}

.overlay {
	pointer-events: none;
	padding-top: 40px;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%;
	width: 410px;
	position: absolute;
	z-index: 90;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);	
	box-sizing: border-box;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-webkit-appearance: none;
	transition: opacity .2s linear;
}
#overlay2 {
	width: 90%;
	pointer-events: auto;
}

#log {
	width: 100%;
	height: 100%;
    resize: none;
	border: 3px solid #555a93;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: transparent;
	text-shadow : 0 0 0 #000;
	overflow-y: scroll;
	
}

.textField {
	width: 310px;
	border: 2px solid #555a93;	
	margin: 0;
	padding: 0 1em 0;
	background-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-appearance: none;
	box-sizing: border-box;
	height: 55px;
	font-size: 1em;
	color: black;
	font-weight: 600;
	font-family: inherit;
	transition: color .2s linear, background-color .2s linear, box-shadow .2s linear, border-color .2s linear;
}
.textField:focus {
	border: 2px solid #30baff;
	box-shadow: 0px 2px 10px rgba(0,0,0,.1);
}

.helper {
	position: absolute;
	z-index: 1;
	font-family: inherit;
	top: 0;
	left: 0;
	transform: translate(1.2em, 0.1em) scale(1);
	transform-origin: 0 0;
	color: grey;
	font-size: 1em;
	font-weight: 400;
	opacity: .65;
	pointer-events: none;
	transition: transform .2s ease-out, opacity .2s linear;
}

.textField:focus + .helper{
	transform: translate(0.4em, -0.8em) scale(.65); opacity: 1;
}

.FocusWithText .helper {
	transform: translate(0.4em, -0.8em) scale(.65); opacity: 1;
}

.button {
	width: 70px;	
	margin: 0px;
	max-width: 70px;
	background-color: #c4c4c4;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-appearance: none;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px #999;
	height: 55px;
	font-size: 1em;
	color: white;
	font-weight: 600;
	font-family: inherit;
	transition: box-shadow .2s linear, background-color .2s ease-out;
}
.button:hover:enabled {
	background-color: #00A6F9 !important;
}
.button:active:enabled {
	box-shadow: inset 3px 3px #707070;
	transform: translateY(-3px), translateX(-3px);
	padding-left: 12px;
}

#clearbtn {
	background-color: #30baff;
}

#confirmbtn {
	background-color: #c4c4c4;
}

.buttonBig {
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-size: 1em;
	color: white;
	font-weight: 600;
	font-family: inherit;
	box-shadow: 2px 2px 3px 3px #707070;
}
#btn {
	background-color: #ffde07;
}
#btn2 {
	background-color: #38a5ff;
}
#btn3 {
	background-color: #0bdd23;
}
.buttonBig:active:enabled {
	box-shadow: 1px 1px 2px 2px #707070;
	transform: translateY(1px), translateX(1px);
	padding-left: 12px;
}

.row {
	width: 100%;
	margin-bottom: 8px;
	position: relative;
	display: flex;
	justify-content: space-between;
}
#bigRow {
	justify-content: center;
	width: 1326px;
}
#lastRow {
	margin-bottom: 0px;
}

.col-1 {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.col-2 {
	width: 310px;
	height: 55px;
	display: inline-block;
}

.col-3 {
	width: 70px;
	height: 55px;
	display: inline-block;
}

.col-4 {
	height: 40px;
	display: inline-block;
}



@keyframes spin {
    100% {-webkit-transform: rotateY(360deg);}
}


.processingAnim {
    -webkit-animation: spin 2s infinite linear;
}

.processingText {
	display: inline-block;
}